*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

body{
    background-color: #141414;
}

.header{
    height: 100vh;
    background-image: url("images/Background_Photo_Compressed.jpg");
    background-size: cover;
    background-position: center center;
}
.header_text{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10vw;
    text-shadow: 0.8vw 0.8vw 1vw #141414;
    color: #fafffa;
    position: absolute;
    bottom: 3vh;
    left: 3vw;
    overflow: visible;
}
.shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0);
}
.piano_scroll{
    height: 40vh;
    width: 100%;
    margin: 5vh 0;
    overflow: hidden;
}
.piano{
    height: 40vh;
}



.main{
    height: 1000px;
}