*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header{
    height: 100vh;
    background-image: url("images/Background_Photo_Compressed.jpg");
    background-size: cover;
    background-position: center center;
}
.header_text{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10vw;
    text-shadow: 0.8vw 0.8vw 1vw #1b1b1b;
    color: #fafffa;
    position: absolute;
    bottom: 3vh;
    left: 3vw;
    overflow: visible;
}
.shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0);
}

.main{
    height: 1000px;
    background-color: #fafffa;
}